.projects {
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 40px;
}

.projects__project {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-bottom: 40px;
}

.projects > h1 {
	font-size: 2em;
	font-weight: 600;
}

@media screen and (max-width: 640px) {
	.projects > h1 {
		font-size: calc(80vw - 75vw);
	}

	.projects {
		margin-left: 10px;
	}
}
