.project {
	height: 500px;
	width: 300px;
	margin: 20px;
	border-radius: 15px;
}

.project a {
	text-decoration: none;
	color: rgb(202, 218, 245);
}

.project__info {
	width: 70%;
}

.project__image > img {
	height: 200px;
	width: 300px;
}

.info__nameSmall {
	font-size: 1em;
	font-weight: 600;
}

.info__nameTech {
	margin-top: 5px;
	font-weight: 300;
	font-size: 0.7em;
}
