.mail {
	font-size: 16px;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	height: 40px;
	width: 200px;
	margin-bottom: 10px;
	background-color: #0094ff;
	transition: all 0.2s ease-in;
	cursor: pointer;
}

.mail:hover {
	background-color: #4382e7;
	color: rgb(221, 207, 207);
}

.mail a {
	color: rgb(202, 218, 245);
	text-decoration: none;
}

@media screen and (max-width: 444px) {
	.mail {
		width: 80vw;
		margin-right: 80px;
	}
}
