.home {
	font-family: 'Poppins', sans-serif;
	min-height: 90vh;
	overflow-y: hidden;
	min-width: 90vw;
	max-height: 100vh;
	display: flex;
	align-items: center;
}

.introduction {
	max-width: 100vw;
	overflow: hidden;
}

.name {
	display: flex;
	flex-direction: row;
	white-space: nowrap;
	font-size: 4.4em;
	font-weight: 500;
	color: rgb(188, 205, 233);
}

.name > span {
	color: red;
}

.home__intro {
	font-size: 1.5em;
	justify-content: center;
	max-width: 100vw;
}

.btn {
	margin-top: 20px;
	width: 500px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
}

.resume {
	font-weight: 500;
	font-size: 15px;
	background-color: #0094ff;
	border-radius: 20px;
	height: 40px;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: rgb(202, 218, 245);
	transition: all 0.2s ease-in;
	white-space: nowrap;
	margin-right: 80px;
	border: none;
	cursor: pointer;
}

.resume:hover {
	background-color: #4382e7;
	color: rgb(221, 207, 207);
}

.home__contact {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
}

.home__icons {
	margin-left: 6px;
	display: flex;
	align-items: flex-start;
	margin-top: 20px;
	height: 50px;
}

.home__icons a {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 30px;
}

.github,
.instagram,
.linkedin,
.twitter {
	color: #0094ff;
	transform: scale(1.5);
	transition: all 0.5s ease-in;
}

.instagram:hover,
.instagram:focus {
	color: #fb3958;
}

.github:hover,
.github:focus {
	color: white;
}

.linkedin:hover,
.linkedin:focus {
	color: #2867b2;
}

.twitter:hover,
.twitter:focus {
	color: #0c73b6;
}

.svg {
	position: fixed;
	top: -1vh;
	left: 40vw;
	width: 50vw;
	z-index: -1000;
}

@media screen and (max-width: 444px) {
	.home {
		display: flex;
	}

	.resume {
		width: 80vw;
	}

	.home__icons {
		margin-right: 0;
	}

	.home__icons a {
		margin-right: 15vw;
	}
}

@media screen and (max-width: 640px) {
	/* .svg {
		display: none;
	} */
	.home {
		display: flex;
		align-items: center;
		margin-top: 2vh;
		margin-left: 20px;
		width: 100vw;
	}
	.name {
		font-size: calc(80vw - 68.9vw);
	}

	.home__contact {
		display: flex;
		flex-direction: column;
	}

	.home__intro {
		font-size: calc(80vw - 75vw);
	}

	.home__icons {
		margin-top: 20px;
		margin-left: 15px;
		display: flex;
		justify-content: left;
	}
}
