.about {
	margin-top: 40px;
	min-height: 80vh;
	max-width: 100vw;
}

.about h1 {
	margin-bottom: 20px;
	font-weight: 600;
	font-size: 2.5em;
}

.about p {
	font-size: 2em;
}

@media screen and (max-width: 600px) {
	.about p {
		font-size: 1em;
		height: 100vh;
	}
}
